<div class="flex justify-center flex-col items-center min-h-[calc(100vh-20rem)]">
  <h1 class="text-3xl my-20">Page Not Found</h1>
  <p class="text-xl my10">404</p>

  <.link
    class="text-xl font-semibold my-9 p-2 text-ei-text ring-2 ring-ei-text rounded-md bg-surface hover:bg-ei-hover transition"
    navigate={~p"/"}
  >
    Go to Homepage
  </.link>
</div>
