<.live_component module={EveIndustrexWeb.Header.Header} id="header" />
<main class="py-20">
    <.flash_group flash={@flash} />
    <section class="flex flex-col gap-4">

    <div class="py-20">
        {@inner_content}
    </div>
  </section>
</main>
<.live_component module={EveIndustrexWeb.Footer} id="footer" />
