<.live_component module={EveIndustrexWeb.Header.Header} id="header"/>
<main class="py-20">
    <.flash_group flash={@flash} />
    <section class="flex flex-col gap-4 items-center">

          {@inner_content}

    </section>
</main>
