<.live_component module={EveIndustrexWeb.Header.Header} id="header"/>
<main class="px-4 py-10 sm:px-6 lg:px-8">
    <.flash_group flash={@flash} />
    <h1 class="text-2xl pl-2 font-bold text-center">Market Browser</h1>

    <section class="flex md:flex-row flex-col gap-4 justify-start pt-20">
        <.live_component id={"market_tool_panel"} module={EveIndustrexWeb.Market.ToolPanel} />
        <div class="w-full">
          {@inner_content}
        </div>
    </section>
</main>
