<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.seo
      page_title={assigns[:page_title]}
      canonical={assigns[:canonical]}
      page_description={assigns[:page_description]}
      page_keywords={assigns[:page_keywords]}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-ei-bg text-ei-text font-display min-w-[550px] carbon">
    {@inner_content}
  </body>
</html>
