@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel/Abel-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@theme {
  --font-headers: "Abel", sans-serif;
  --font-display: "IBM Plex Mono", sans-serif;

  --color-reactor: #4e2a84;
  --color-reactor-light: #7c5bd6;

  --color-surface: rgb(15 17 22 / 0.72);
  --color-surface-border: rgb(255 255 255 /0.06);

  --blur-panel: 16px;

  --radius-panel: 0.75rem;
  --color-panels: rgba(20, 22, 28, 0.65);
  --color-surface-hover: rgb(28 30 38 / 0.82);

  --color-ei-bg: #0d0f12;
  --color-ei-accent: #4e2a84;
  --color-ei-hover: #673ab7;
  --color-ei-success: #22c55e;
  --color-ei-warning: #f59e0b;
  --color-ei-warn: #fbff26;
  --color-ei-critical: #ef4444;
  --color-ei-info: #38bdf8;
  --color-ei-text: #e5e7eb;
  --color-ei-text-muted: #b8bcc5;
  --color-system1_0: #2e74de;
  --color-system0_9: #389df1;
  --color-system0_8: #62daa6;
  --color-system0_7: #5cdba6;
  --color-system0_6: #73e352;
  --color-system0_5: #f0fe83;
  --color-system0_4: #dc6b08;
  --color-system0_3: #c94711;
  --color-system0_2: #bb1012;
  --color-system0_1: #6d211a;
  --color-system0_0: #8f2f69;
  --animate-spinner: spinner 0.8s linear infinite;

  --radius-panel: 0.75rem;
}
