@import "tailwindcss";

@theme {
  --font-display: "Abel", sans-serif;

  --color-reactor: #4e2a84;
  --color-reactor-light: #7c5bd6;

  --color-panel: rgb(15 17 22 / 0.72);
  --color-panel-border: rgb(255 255 255 /0.06);

  --blur-panel: 16px;

  --radius-panel: 0.75rem;
  --color-panels: rgba(20, 22, 28, 0.65);

  --color-primary-background: #0d0f12;
  --color-accent: #4e2a84;
  --color-hover: #673ab7;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-critical: #ef4444;
  --color-info: #38bdf8;
  --color-primary-text: #e5e7eb;
  --color-secondary-text: #b8bcc5;
  --color-system1_0: #2e74de;
  --color-system0_9: #389df1;
  --color-system0_8: #62daa6;
  --color-system0_7: #5cdba6;
  --color-system0_6: #73e352;
  --color-system0_5: #f0fe83;
  --color-system0_4: #dc6b08;
  --color-system0_3: #c94711;
  --color-system0_2: #bb1012;
  --color-system0_1: #6d211a;
  --color-system0_0: #8f2f69;
  --animate-spinner: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
